img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;

}

h2,h3,h4 {
    Font-family: "Brush Scripts MT", "Times New Roman", serif;
    margin-left: 12px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    margin-left: 12px;
}

p, li {
    max-width: 900px;
}

ul,ol {
    margin: 0;
    padding-left: 28px;
    width: auto;
}

li > ul {
    margin-top: 16px;
    padding-left: 20px;
}