body {
    background-color: #fffff5;
    font-family: Monaco, Arial, sans-serif;
}
h1 {
    Font-family: "Brush Scripts MT", "Times New Roman", serif;
    font-size: 48px;
    text-align: center;
}
a {
    font-size: 20px;
    color: #3a3a3a;
}

ul {
    width: 350px;
    margin: auto;
}

li {
    margin-bottom: 16px;
}